div.painelq {
    display: flex;
    align-items: center;
    margin-left: 22vw;
    margin-top: 0vh;
  }

div.questions {
    background-color: grey;
    width: 35vw;
    height: 50vh;
    margin-left: 32.7vw;
    margin-top: 3vh;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

button.questions {
    background-color: cyan;
    font-family: "SoccerLeague.ttf";
    height: 7.6vh;
    width: 35vw;
    font-size: 2vw;
    display: inline-block;
    margin-left: 0;
    border-radius: 10px;
}

button.questions:hover {
    background-color: rgba(0, 255, 255, 0.452);
}

p {
    font-size: 3vh;
}
p.range{
    font-size: 3vh;
}
button.next {
    background-color: cyan;
    font-family: "SoccerLeague.ttf";
    width: 8vw;
    font-size: 2vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin-left: 47vw;
    margin-top: 0vh;
}

button.next:hover {
    background-color: rgba(0, 255, 255, 0.452);;
}

button.certo{
    background-color: greenyellow;
    font-family: "SoccerLeague.ttf";
    height: 7.6vh;
    width: 35vw;
    font-size: 2vw;
    display: inline-block;
    margin-left: 0;
    border-radius: 10px;
}

button.errado{
    background-color: red;
    font-family: "SoccerLeague.ttf";
    height: 7.6vh;
    width: 35vw;
    font-size: 2vw;
    display: inline-block;
    margin-left: 0;
    border-radius: 10px;
}

p.pontos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.7vw;
    margin-top: 2.5vh;
    color: cyan;
}
